<p id="notice"><%= notice %></p>

  <p>
    <%= "part: #{@equips.equip_part}" %>
    <p><%= "name: #{@equips.equip_name}" %></p>
    <p><%= "item level: #{@equips.equip_itemlvl}" %></p>
    <p><%= "stat: #{@equips.equip_stat}" %></p>
    <br>
  </p>

<%= link_to 'Back', users_path %>
