<p id="notice"><%= notice %></p>

  <p>
    <%= "part: #{@equips.equip_part}" %>
    <p><%= "name: #{@equips.equip_name}" %></p>
    <p><%= "item level: #{@equips.equip_itemlvl}" %></p>
    <p><%= "stat: #{@equips.equip_stat}" %></p>
    <p><%= "percentage: #{number_to_percentage(@equip_calc, precision: 0)}" %></p>

    <p><% @jewel_calc.keys.each do |k| %></p>
        <p><%= "gem name: #{k}, owns by: #{@jewel_calc[k][:owns_by]}
        people, ratio: #{number_to_percentage(@jewel_calc[k][:ratio], precision: 0)}" %></p>
    <p><% end %></p>
    <br>
  </p>

<%= link_to 'Back', users_path %>
