<div id='user'>

  <div class="container-narrow">

  <%= render "discribe" %>

  </div>
  <div class="btn-group">
    <a class="btn dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      選擇職業
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% @char_class.each do |num, klass| %>
        <li><a tabindex="-1" href="/equipment/equip_class/<%= num %>"><%= klass %></a></li>
      <% end %>
    </ul>
  </div>

<% @pop_equip.each do |klass, parts| %>
  <p>
    <table align="center">
      <tr>
        <td colspan="3">
        <%= klass %>使用率最高的裝備
        </td>
      </tr>
      <tr>
        <td>裝備部位</td>
        <td>裝備名稱</td>
        <td>裝備使用率 (裝備人數/<%= klass %> 總人數)</td>
      </tr>

      <% parts.each do |part, equip| %>
      <tr>
        <% if equip.nil? %>
          <td><%= part %></td>
        <% else %>
          <td><%= link_to part, klass_part_equipment_index_path(equip.equip_class, equip.equip_part) %></td>
        <% end %>

        <% if equip.blank? %>
          <td>No Gear Found</td>
        <% else %>
          <td>
            <a href='/equipment/<%= equip.id%>' class='equip_data' id="<%= equip.id %>" equip-id="<%= equip.id %>" title="<div class='name'><img src=http://us.media.blizzard.com/wow/icons/36/<%= equip.equip_icon %>.jpg>&nbsp;&nbsp;<%= equip.equip_name %></div><div class='stats'><%= equip[:new_stats_html].join %>" data-html="true" data-placement="right">

            <img src="http://us.media.blizzard.com/wow/icons/36/<%= equip.equip_icon %>.jpg">
              <%= equip.equip_name %>
            </a>
          </td>
        <% end %>
        <td>
          <%= number_to_percentage(equip[:ratios], precision:0) %>&nbsp;&nbsp;( <%= equip.equip_counts %> / <%= @char.count %> )
        </td>
      </tr>
      <% end %>
    </table>
  </p>
  <div id='equip_details'></div>
<% end %>
</div>
