<div id='user'>
  <div class="btn-group">
    <a class="btn dropdown-toggle" id="dLabel" role="button" data-toggle="dropdown" data-target="#" href="/page.html">
      Choose Class
      <b class="caret"></b>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
      <% @char_class.each do |num, klass| %>
        <li><a tabindex="-1" href="equipment/equip_class/<%= num %>"><%= klass %></a></li>
      <% end %>
    </ul>
  </div>

<% @pop_equip.each do |klass, parts| %>
  <p>
    <table>
      <tr>
        <td colspan="3">
        TOP gear choices for <%= klass %>
        </td>
      </tr>
      <tr>
        <td>Equip Part</td>
        <td>Equip Name</td>
        <td>Equip Ratio</td>
      </tr>

      <% parts.each do |part, equip| %>
      <tr>
        <% if equip.nil? %>
          <td><%= part %></td>
        <% else %>
          <td><%= link_to part, choose_class_equipment_index_path(equip.equip_class) %></td>
        <% end %>

        <% if equip.blank? %>
          <td>No Gear Found</td>
        <% else %>
          <td>
            <a href='#' class='equip_data' id="<%= equip.id %>" equip-id="<%= equip.id %>" title="<div class='name'><img src=http://us.media.blizzard.com/wow/icons/36/<%= equip.equip_icon %>.jpg>&nbsp;&nbsp;<%= equip.equip_name %></div><div class='stats'><%= equip[:new_stats_html].join %>" data-html="true" data-placement="right">

            <img src="http://us.media.blizzard.com/wow/icons/36/<%= equip.equip_icon %>.jpg">
              <%= equip.equip_name %>
            </a>
          </td>
        <% end %>
        <td>
          <%= number_to_percentage(equip[:ratios], precision:0) %>&nbsp;&nbsp;( <%= equip.equip_counts %> out of <%= @char.count %> )
        </td>
      </tr>
      <% end %>
    </table>
  </p>
  <div id='equip_details'></div>
<% end %>
</div>