<div id='user'>
<% @pop_equip.each do |klass, parts| %>
  <p>
    <table>
      <tr>
        <td colspan="2">
        TOP gear choices for <%= klass %>
        </td>
      </tr>
      <tr>
        <td>Equip Part</td>
        <td>Equip Name</td>
      </tr>
      <% parts.each do |part, equip| %>

      <tr>
        <% if equip.nil? %>
          <td><%= part %></td>
        <% else %>
          <td><%= link_to part, klass_part_equipment_index_path(equip.equip_class, equip.equip_part) %></td>
        <% end %>
        <% if equip.blank? %>
          <td>No Gear Found</td>
        <% else %>
          <td>
            <img src="http://us.media.blizzard.com/wow/icons/36/<%= equip.equip_icon %>.jpg">
            <a class='equip_data' id="<%= equip.id %>" href='#'>
              <%= equip.equip_name %>
            </a>
          </td>
        <% end %>
      </tr>


      <% end %>
    </table>
  </p>
<% end %>
</div>