<%= simple_form_for current_user, defaults: { input_html: { value: '' } } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :user_name, :required => true %>
    <%= f.input :realms, :required => true %>
    <%= f.input :characters, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Continue" %>
  </div>
<% end %>