<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.user_name %>
</p>
<p>
  <b>Realms:</b>
  <% @user.realms.each do |r| %>
    <%= "#{r.name}" %>
    <br>
  <% end %>
</p>
<p>
  <b>Characters:</b>
  <% @user.characters.each do |c| %>
    <%= "class: #{c.character_class}, name: #{c.name}, gender: #{c.gender}, level: #{c.level}, race: #{c.race}" %>
    <br>
    <p>
      <b>Equipments:</b>
      <% c.character_equips.includes(:equipment).each do |e| %>
        <%= "head: #{e.equipment.head}, helm item level: #{e.equipment.head_itemlvl}, neck: #{e.equipment.neck}, neck item level: #{e.equipment.neck_itemlvl}, shoulder: #{e.equipment.shoulder}, shoulder item level: #{e.equipment.shoulder_itemlvl}, back: #{e.equipment.back}, back item level: #{e.equipment.back_itemlvl}, chest: #{e.equipment.chest}, chest item level: #{e.equipment.chest_itemlvl}, wrist: #{e.equipment.wrist}, wrist item level: #{e.equipment.wrist_itemlvl}, hands: #{e.equipment.hands}, hands item level: #{e.equipment.hands_itemlvl}, waist: #{e.equipment.waist}, waist item level: #{e.equipment.waist_itemlvl},legs: #{e.equipment.legs}, legs item level: #{e.equipment.legs_itemlvl}, feet: #{e.equipment.feet}, feet item level: #{e.equipment.feet_itemlvl}, finger 1: #{e.equipment.finger_1}, ring 1 item level: #{e.equipment.finger_1_itemlvl}, finger 2: #{e.equipment.finger_2}, ring 2 item level: #{e.equipment.finger_2_itemlvl}, trinket 1: #{e.equipment.trinket_1}, trinket 1 item level: #{e.equipment.trinket_1_itemlvl}, trinket 2: #{e.equipment.trinket_2}, trinket 2 item level: #{e.equipment.trinket_2_itemlvl}, main hand: #{e.equipment.main_hand}, main hand item level: #{e.equipment.main_hand_itemlvl}, off hand: #{e.equipment.off_hand}, off hand item level: #{e.equipment.off_hand_itemlvl}"%>
        <br>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
