<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= current_user.user_name %>
</p>
<p>
  <b>Realms:</b>
  <% current_user.realms.each do |r| %>
    <%= "#{r.name}" %>
    <br>
  <% end %>
</p>
<p>
  <b>Characters:</b>
  <% current_user.characters.each do |c| %>
    <%= "class: #{c.character_class}, name: #{c.name}, gender: #{c.gender}, level: #{c.level}, race: #{c.race}" %>
    <br>
    <p>
      <b>Equipments:</b>
      <% c.character_equips.includes(:equipment).each do |e| %>
        <%= link_to e.equipment.equip_name, equipment_path(e.equipment_id) %>
        <br>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
