<div id='user'>
  <p id="notice"><%= notice %></p>

  <table>
    <tr>
      <td class='charinfo'>
        <% current_user.characters.each do |c| %>
            <p>
              <img src="http://tw.battle.net/static-render/tw/<%= c.thumbnail %>">
              <%= c.name %>
                <%= "level #{c.level}, #{@char_race[c.race]} #{@char_class[c.character_class]}" %>
                <% current_user.realms.each do |r| %>
                <%= "#{r.name}" %>
              <% end %>
            </p>
      </td>
    </tr>

    <tr>
      <% c.character_equips.includes(:equipment).each do |e| %>
        <td>
          <img src="http://us.media.blizzard.com/wow/icons/18/<%= e.equipment.equip_icon %>.jpg">
          <a class='equip_link', id='<%= e.equipment_id %>' href='#'></a>
        </td>
    </tr>
      <% end %>
        <% end %>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>