<%= render "users/topbanner" %>
<%= render "users/discribe" %>
<div id='userchar'>
  <p id="notice"><%= notice %></p>

  <table align="center">
    <tr>
      <td class='charinfo', colspan="2">
        <% character = Character.where(id: current_user.id) %>
        <% character.each do |c| %>
            <p>
              <img src="http://tw.battle.net/static-render/tw/<%= c.thumbnail %>">
              <%= c.name %>
                <%= "level #{c.level}, #{@char_race[c.race]} #{@char_class[c.character_class]}" %>
                <%= "#{c.realm}" %>
            </p>
      </td>
    </tr>

    <tr>
      <% c.character_equips.includes(:equipment).each do |e| %>
        <td>
          <img src="http://us.media.blizzard.com/wow/icons/18/<%= e.equipment.equip_icon %>.jpg">
          <a class='equip_link', id='<%= e.equipment_id %>' href='/equipment/<%= e.equipment_id %>'><%= e.equipment.equip_name %></a>
        </td>

        <td>
          <% equip = Equipment.where(equip_name: e.equipment.equip_name) %>
          <% equip_raito = Float(equip[0].equip_counts) / Float(@char_count) * 100 %>
          <%= number_to_percentage( equip_raito, precision: 0) %>
        </td>
    </tr>
      <% end %>
      <% end %>
</table>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>