<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @user.user_name %>
</p>
<p>
  <b>Realms:</b>
  <% @user.realms.each do |r| %>
    <%= "#{r.name}" %>
    <br>
  <% end %>
</p>
<p>
  <b>Characters:</b>
  <% @user.characters.each do |c| %>
    <%= "class: #{c.character_class}, name: #{c.name}, gender: #{c.gender}, level: #{c.level}, race: #{c.race}" %>
    <br>
    <p>
      <b>Equipments:</b>
      <% c.character_equips.includes(:equipment).each do |e| %>
        <%= "head: #{e.equipment.head}, neck: #{e.equipment.neck}, shoulder: #{e.equipment.shoulder}, back: #{e.equipment.back}, chest: #{e.equipment.chest}, wrist: #{e.equipment.wrist}, hands: #{e.equipment.hands}, waist: #{e.equipment.waist},legs: #{e.equipment.legs}, feet: #{e.equipment.feet}, finger 1: #{e.equipment.finger_1}, finger 2: #{e.equipment.finger_2}, trinket 1: #{e.equipment.trinket_1}, trinket 2: #{e.equipment.trinket_2}, main hand: #{e.equipment.main_hand}, off hand: #{e.equipment.off_hand}"%>
        <br>
      <% end %>
    </p>
  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
